<h4>Markdown</h4>	
<p class="em">Markdown is a
plain text syntax that allows you to write using an easy-to-read, easy-to-write plain text format. You can use markdown to 
make things like your forum posts, messages, and writings about your pet more readable. Here are some examples:</p>
<ul>
  <li>Emphasis: _These words_ are emphasized.</li>
  <li>Strong Emphasis: **These words** are strong.</li>
  <li>Links: [this is a link](http://example.com/)</li>
  <li>Images: ![image title text](http://www.example.com/path/to/img.jpg)</li>
  <li>Headers: # biggest header, ## big header, ### medium header</li>
  <li>Lists: <br />- this is the first item<br />- and this is the second</li>
</ul>
<p>
  <%= link_to 'Read about the full syntax here', 'http://daringfireball.net/projects/markdown/syntax', :target=> "__blank" %>.
</p>