<div id="petless" class="box full info">
  <h4>You survived the collapse of civilization, but there's no place in the future for humans without a pet.</h4> 
  <ul>  
	<li> 	
		<%= facebook_link_to "click here to Befriend A Pet", new_facebook_pet_path %>
		<div class="description">You'll need a pet by your side to play the game. Start by befriending one...</div>
	</li>
  </ul>
</div>