<% content_for :page_title do %><h2>About <%=AppConfig.name%></h2><% end %>

<div class="box full">
  <h3>Gameplay</h3>
  <p class="em">In the near future after the fall of humans, housepets rise to rule the new urban empire. Befriend one now and help them search for food, shelter, and fights, raising them to be the most powerful pet to ever draw claws.</p>

  <p>Battle other players using the elegant Undercut combat system. Find rival pets and challenge them, secretly choose your pet's actions for the battle, and then see who wins as the fight resolves by comparing pet strategies. Predict your enemy's strategy and *undercut* their actions to perform devastating counterattacks.</p>

  <p>As pets journey the land and battle they gain experience, unlock new tactical options, and can train to put the lessons of the battleground to use. When you're not battling other pets, help hunt mutants, feral beasts, and other monstrosities.</p>

  <p>Scavenge the world that humans left behind and find items to personalize your pet and make them stronger.</p>

  <p>Capture devolved human mongrels and use them as your helpers or slaves, subjugating the creatures that once held the keys
	to the fallen kingdom of man!</p>
</div>

<div class="box full">
  <h3>Virtual Pets</h3>
  <p>While the game revolves around the training and welfare of your pet, it departs from traditional virtual pet 
	sims in several ways. First, combat is at the forefront of gameplay and drives your pet's growth. Matching wits with other 
	players by planning strategies and fighting touches on, in one way or another, every other element of the game. 
	While much can be accomplished without recourse to battle, it's expected that most pets will need to fight to survive.</p>
	
  <p>Because battle pets have evolved from domesticated housepets, the customization of the available breeds is restricted. 
	Instead, pets characterize themselves through (1) their accomplishments, (2) their friendships, and (3) their items 
	and gear.</p>
</div>

<div class="box full">
  <h3>Advertising</h3>
  <p>The Battle Pet Network has been and will always be 100% ad-free. Today, the average person is subjected to around 20,000 advertising messages a day in nearly all walks of life. We adamantly refuse to contribute to this noise with our game. It tarnishes the experience and presumes far too much of the user.</p> 
  <p>In fact, if there's anything good to come from a global apocalypse it may be that corporate ad publishers will fall along with the rest of civilization. </p>
</div>